.raceButtons input {
height: 200px;
width: 200px;
}

.raceButtons button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.raceButtons button:hover {
  background-color: #3e8e41;
}