.class-buttons input {
  height: 200px;
  width: 200px;
}

.class-buttons button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.class-buttons button:hover {
  background-color: #3e8e41;
}
